header{
    background-color:aqua
}

    h1{
    text-align: center;
}
    h2{
    background-color: brown;
    text-align: center;
  

}
    h3{
    background-color: yellow;
    text-align: center;

}
    h4{
        background-color: goldenrod;
        text-align: center;
    }
img{
    height: 240px;
    width: 250px;
}