body{
    background-color: lightblue;
}
header{
    font-size: 35px;
    background-color:aqua
}

h1{
    text-align: center;
    }
h2{  
    font-size: 30px;  
    text-align: center;
    }
li{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    width: 300px;
    }
li{
    list-style-type: none;
    font-style: italic;
}
p{
    color: crimson;
    font-style: italic;
    font-size: small;
}
footer{
    font-style: italic;
    font-size: 10px;
}