/* zoo containing header image and text */
.zoo {
    position: relative;
    font-size: 30px;
    text-align: center;
    color: rgb(143, 76, 76);
}
.welcome{
    position: absolute;
    top: 35px;
    left: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}
.footer{
    font-size: 15px;
}

body{
    background-color: aquamarine;
}
/* containing the body of the Zoo project */
h1{
    text-align: center;
    }
h2{  
    font-size: 20px;  
    text-align: center;
    }
li{
   text-align: center
}
img{
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    height: 240px;
    width: 330px;
    }
li{
    list-style-type: none;
    font-style: normal;
}
p{
    font-style: italic;
    font-size: medium;
}
footer{
    text-align: right;
    font-style: italic;
    font-size: 11px;
}